@font-face {
    font-family: yekan;
    src: url("../assets/fonts/yekan.ttf") format("truetype"),
    url("../assets/fonts/yekan.eot?#iefix") format("embedded-opentype");
}

@font-face {
    font-family: traffic;
    src: url("../assets/fonts/traffic.ttf") format("truetype"),
    url("../assets/fonts/traffic.eot?#iefix") format("embedded-opentype");
}

.yekan {
    font-family: yekan;
}

.traffic {
    font-family: traffic;
}

.fontsm {
    font-size: 10pt;
}

.fontmd {
    font-size: 13pt;
}

.fontlg {
    font-size: 15pt;
}

* {
    margin: 0 auto;
    direction: rtl;
}

a {
    text-decoration: none;
    cursor: pointer;
}