@media (max-width: 1527px) {
    #about .left-column .container-fluid{
        grid-template-columns: 119px 209px 174px !important;
        grid-template-rows: 134px 234px 211.5px !important;
    }
    #about .right-column .title {font-size: 46px !important;line-height: 46px !important;}
}
@media (max-width: 1202px) {
    #about {padding: 90px 50px !important;}
    #about .left-column .container-fluid{
        height: auto!important;
        grid-template-columns: 27.57% 45.97% 26.76% !important;
        grid-template-rows: 15.41% 50.5% 33.62% !important;
    }
    #about .left-column div:first-child img, #about .left-column div:nth-child(4) img {object-fit: cover}
    #about .left-column div:nth-child(2) {background-position: center top !important;}
    #about .right-column .part {font-size: 11px !important;}
    #about .right-column .title {font-size: 36px !important; line-height: 36px !important;}
    #about .right-column .details {width: auto !important; font-size: 15px !important;}
}
@media (max-width: 1020px) {
    #about .right-column .title {font-size: 32px !important; line-height: 34px !important;}
    #about .right-column .details {font-size: 13px !important; line-height: 25px;}
}
@media (max-width: 900px) {
    #about {flex-direction: column; padding: 90px 15px !important;}
    #about .left-column {width: 100%!important; margin-bottom: 20px;}
    #about .right-column {width: 100% !important;}
    #about .right-column .container-fluid {padding-left:0 !important;}
    #about .right-column .part {font-size: 13px !important;}
    #about .right-column .title {width: 100% !important;}
    #about .right-column .details {font-size: 16px !important;}
}
@media (max-width: 422px) {
    #about .right-column .part {font-size: 11px !important;}
    #about .right-column .title {font-size: 28px !important;}
    #about .right-column .details {font-size: 14px !important;}
}
#about {
    padding: 90px 100px;
    justify-content: center;
    transition: all .5s ease;
    background-color: #FBF9F4;
}
#about .left-column {width: 50%;}
#about .left-column .container-fluid {
    width: 100%;
    margin: 0;
    padding: 0 !important;
    grid-template-columns: 184px 229px 248px;
    grid-template-rows: 79px 354px 170.5px;
    justify-content: end;
}
#about .left-column .container-fluid img {width: 100%; height: 100%;}
#about .left-column div:first-child {grid-area: 1/1/3/3;}
#about .left-column div:nth-child(2) {grid-area: 1/3/2/4;}
#about .left-column div:nth-child(3) {grid-area: 3/1/4/2;}
#about .left-column div:nth-child(4) {grid-area: 2/2/4/4;}
#about .right-column {width: 50%;}
#about .right-column .container-fluid{padding: 0 0 0 10%;}
#about .right-column .title {width: 90%;}
#about .right-column .details {width: 500px;}
#about .right-column .right {padding-left: 20px; margin-bottom: 20px}
#about .right-column .services .icon{
    display: inline-block;
    width: 53px;
    height: 100%;
    background-size: contain!important;
}
#about .right-column .services .details{margin: 0 !important}
