@media (max-width: 1202px) {
    #contact-us {padding: 90px 50px !important;}
    #contact-us .right-column .whitespace{display: none;}
    #contact-us .right-column {-webkit-box-orient: vertical;-webkit-box-direction: normal;flex-direction: column; gap: 30px;}
    #contact-us .right-column .left, #contact-us .right-column .right{width: 100% !important; padding-right: 30px;}
    #contact-us .fixed-image{right: 32px !important;}
}
@media (max-width: 1020px) {
    #contact-us .left-column .container-fluid{padding: 0 20px 0 !important;}
}
@media (max-width: 900px) {
#contact-us {-webkit-box-orient: vertical;-webkit-box-direction: normal;flex-direction: column; padding: 90px 25px !important;}
#contact-us .left-column .container-fluid{padding: 0 !important;}
#contact-us .left-column, #contact-us .right-column {width: 100% !important;}
#contact-us .right-column .left, #contact-us .right-column .right{width: 100% !important; padding-right: 0 !important;}
#contact-us .right-column .left .right-item, #contact-us .right-column .right .right-item {margin: 9px 0 0 13px !important;}
#contact-us .title{font-size: 32px;}
#contact-us .details{font-size: 16px; line-height: 25px;}
#contact-us .service{font-size: 19px; margin-bottom: 1px;}
#contact-us .right-column a[href="mailto:morteza.j1382@gmail.com"] {margin-bottom: 13px !important;}
#contact-us .contact-tel{font-size: 18px !important;}
#contact-us .right-column .left .left-item, #contact-us .right-column .right .left-item {width: 51px !important; min-width: 51px !important;}
#contact-us .right-column .left .location, #contact-us .right-column .right .phone {height: 51px !important;}
.contact-us-icons-style::before {background-size: 26px !important;}
}
@media (max-width: 422px) {
    #contact-us .fixed-image{top: 5px !important;}
}
#contact-us {
    padding: 90px 100px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    position: relative;
}
#contact-us .left-column, #contact-us .right-column{width: 50%;}
#contact-us .left-column .container-fluid{padding: 0 130px 0 0;}
#contact-us .right-column .whitespace{width: 100%; height: 100px;}
#contact-us .right-column .left, #contact-us .right-column .right{width: 50%; padding-right: 30px;}
#contact-us .right-column .left .left-item, #contact-us .right-column .right .left-item{width: 54px; min-width: 54px;}
#contact-us .right-column .left .location, #contact-us .right-column .right .phone{
    position: relative;
    width: 100%;
    height: 54px;
    border-radius: 50%;
    border: 1px solid #ded6d4;
}
.contact-us-icons-style::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#contact-us .right-column .left .location::before{background: url(../assets/practice5/location.png) no-repeat center; background-size: 30px;}
#contact-us .right-column .left .right-item, #contact-us .right-column .right .right-item{margin: 13px 0 0 17px;}
#contact-us .right-column .service{
    font-family: "CormorantGaramond", Serif !important;
    color: #333 !important;
    font-weight: bold !important;
}
#contact-us .right-column .details{
    margin: 8px 0 0 0; 
    display: block;
    color: #888682 !important;
    font-family: "Quattrocento Sans", sans-serif !important;
    font-weight: normal !important;
}
#contact-us .right-column a[href="mailto:morteza.j1382@gmail.com"]{
    position: relative;
    padding-bottom: 5px; 
    margin-bottom: 22px;
}
#contact-us .right-column a[href="mailto:morteza.j1382@gmail.com"]::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #888682;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
#contact-us .right-column a[href="mailto:morteza.j1382@gmail.com"]:hover::before{
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
}
#contact-us .right-column .contact-tel{
    font-size: 20px;
    color: rgb(51, 51, 51) !important;
}
#contact-us .right-column .right .phone::before{background: url(../assets/practice5/mobile-phone.png) no-repeat center; background-size: 30px;}
#contact-us .fixed-image{
    position: absolute;
    right: 76px;
    top: 32px;
    width: 156px;
    height: 140px;
}
#contact-us .fixed-image::before{
    content: "";
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: url(../assets/practice5/300.webp) no-repeat center;
    background-size: contain;
}