@media (max-width: 1527px) {
    #blog-gallery .item:nth-child(1) img {height: 720px !important;}
    #blog-gallery .item img {height: 360px !important;}
}
@media (max-width: 1202px) {
    #blog-gallery .container-fluid {
        grid-template-columns: 50% 50% !important;
        grid-template-rows: 25% 25% 50% !important;
    }
    #blog-gallery .item:nth-child(2) {grid-area: 1/2/2/3;}
    #blog-gallery .item:nth-child(3) {grid-area: 2/2/3/3;}
    #blog-gallery .item:nth-child(4) {grid-area: 3/1/4/2;}
    #blog-gallery .item:nth-child(5) {grid-area: 3/2/4/3;}
    #blog-gallery .item:nth-child(1) img {height: 500px !important;}
    #blog-gallery .item:nth-child(4) img {height: 500px !important;}
    #blog-gallery .item:nth-child(5) img {height: 500px !important;}
    #blog-gallery .item img {height: 250px !important;}
    #blog-gallery .item{position: relative}
    #blog-gallery .tooltip{top: auto; left: auto; transform: translateY(-80px)}
    #blog-gallery .text{display: block !important;}
}
@media (max-width: 900px) {
    #blog-gallery .container-fluid {
        grid-template-columns: 50% 50% !important;
        grid-template-rows: 33.3333% 33.3333% 33.3333% !important;
    }
    #blog-gallery .item:nth-child(1) {grid-area: 1/1/2/2 !important;}
    #blog-gallery .item:nth-child(3) {grid-area: 2/1/3/2 !important;}
    #blog-gallery .item:nth-child(4) {grid-area: 2/2/3/3 !important;}
    #blog-gallery .item:nth-child(5) {grid-area: 3/1/4/3 !important;}
    #blog-gallery .item:nth-child(1) img {height: 250px !important;}
    #blog-gallery .item:nth-child(4) img {height: 250px !important;}
    #blog-gallery .item:nth-child(5) img {height: 250px !important;}
    #blog-gallery .item img {height: 250px !important;}
}

@media (max-width: 422px) {
    #blog-gallery .container-fluid{
        grid-template-columns: 100% !important;
        grid-template-rows: auto auto auto auto auto !important;
    }
    #blog-gallery .item:nth-child(1), #blog-gallery .item:nth-child(2), #blog-gallery .item:nth-child(3),
    #blog-gallery .item:nth-child(4), #blog-gallery .item:nth-child(5){grid-area: auto !important;}
    #blog-gallery .item:nth-child(1) img {height: 100vw !important;}
    #blog-gallery .item:nth-child(4) img {height: 100vw !important;}
    #blog-gallery .item:nth-child(5) img {height: 100vw !important;}
    #blog-gallery .item img {height: 100vw !important;}
}
#blog-gallery{overflow: hidden}
#blog-gallery .container-fluid {
    padding:0;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 50% 50%;
}
#blog-gallery .item {overflow: hidden}
#blog-gallery .item:nth-child(1) {grid-area: 1/1/3/2;}
#blog-gallery a {display: block;}
#blog-gallery img {width: 100%; object-fit: cover; transition: all .4s ease;}
#blog-gallery .item:nth-child(1) img {height: 960px;}
#blog-gallery .item img {height: 480px;}
#blog-gallery .item img:hover {transform: scale(1.1);}
#blog-gallery .tooltip {
    position: absolute;
    color: #fff;
    z-index: 9999;
    opacity: 1;
    margin:15px 20px;
}
#blog-gallery .tooltip .stick{

}
@keyframes slideRight {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
#blog-gallery .text {
    display: none;
    background-color: #1F242E;
    padding: 10px 15px;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 2px;
    font-size: 20px;
    font-family: "CormorantGaramond";
    animation: slideRight .4s ease forwards;
}

