@font-face {
    font-family: 'Quattrocento Sans';
    src: url("assets/fonts/QuattrocentoSans-Regular.ttf") format("truetype"),
    url("assets/fonts/QuattrocentoSans-Regular.eot?#iefix") format("embedded-opentype");
}

@font-face {
    font-family: CormorantGaramond;
    src: url("assets/fonts/CormorantGaramond-Regular.ttf") format("truetype"),
    url("assets/fonts/CormorantGaramond-Regular.eot?#iefix") format("embedded-opentype");
}
.Quattrocento-Sans {font-family: 'Quattrocento Sans';}
.CormorantGaramond {font-family: CormorantGaramond;}
a {
    font-family: sans-serif !important;
    font-weight: bold !important;
    color: #F9F9F9FF !important;
    text-decoration: none !important;
}
.button-style {
    background-color: #B4BB6B;
    font-size: 16px;
    width: fit-content;
    padding: 13px 40px;
    border-radius: 40px;
    transition: background-color .2s ease !important;
    text-transform: none !important;
}
.button-style:hover {
    background-color: #9FA753;
}
.part {
    display: block;
    font-size: 13px;
    font-weight: bold;
    color: #b98d58;
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    letter-spacing: 2px;
    transform: scaleY(.9);
    margin-bottom: 16px;
}
.title {
    font-size: 57px;
    line-height: 57px;
    color: #333;
    font-family: "CormorantGaramond", Serif;
    margin-bottom: 20px;
}
.details {
    font-size: 17px;
    line-height: 28px;
    color: #888682;
    font-family: "Quattrocento Sans", sans-serif;
    margin-bottom: 30px;
}
.schedule {
    display: block;
    font-size: 15px;
    font-weight: bold;
    line-height: 33px;
    color: #333;
    text-transform: uppercase;
    font-family: "CormorantGaramond", sans-serif;
    letter-spacing: 2px;
    margin-bottom: 40px;
}
